@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

.font-raleway {
  font-family: "Raleway", sans-serif;
}

.font-outfit {
  font-family: "Outfit", sans-serif;
}

.button {
  position: relative;
  overflow: hidden;
}

.button::before {
  content: "";
  position: absolute;
  width: 160px;
  height: 128px;
  background-color: rgba(255, 255, 255, 1);
  filter: blur(80px);
  left: -30px;
  top: 0;
}

.shadow-header {
  position: relative;
  overflow: hidden;
}

.shadow-header::before {
  content: "";
  position: absolute;
  width: 473px;
  height: 473px;
  background-color: rgba(255, 153, 102, 0.64);
  filter: blur(80px);
  left: -70px;
  bottom: -70px;
}

.shadow-challenge,
.shadow-challenge-2,
.solution-shadow {
  position: relative;
  overflow: hidden;
}

.shadow-challenge::before {
  content: "";
  position: absolute;
  width: 180px;
  height: 180px;
  background-color: rgba(255, 153, 102, 0.64);
  filter: blur(100px);
  left: -20px;
  bottom: -20px;
  border-radius: 999px;
}

.shadow-challenge-2::before {
  content: "";
  position: absolute;
  width: 180px;
  height: 180px;
  background-color: rgba(255, 153, 102, 0.64);
  filter: blur(100px);
  right: -20px;
  bottom: -20px;
  border-radius: 999px;
}

.solution-shadow::before {
  content: "";
  position: absolute;
  width: 500px;
  height: 500px;
  background-color: rgba(200, 74, 1, 0.24);
  filter: blur(60px);
  left: -160px;
  bottom: -200px;
  border-radius: 999px;
  z-index: -1;
}

/* @keyframes scrollLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes scrollRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

Apply animation classes
.scroll-left {
  animation: scrollLeft 25s linear infinite;
}

.scroll-right {
  animation: scrollRight 25s linear infinite;
} */

@keyframes scrollLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes scrollRight {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.scroll-container {
  display: flex;
  width: max-content;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.scroll-left {
  animation: scrollLeft 10s linear infinite;
}

.scroll-right {
  animation: scrollRight 10s linear infinite;
}
